# Entornos virtuales
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de configuración local de VS Code
.vscode/

# Base de datos local SQLite (opcional, para no sobreescribir datos de producción)
*.db